body {
    font-family: "MS Gothic";
    bottom:10px;
}


h1, h2, h3, h4, h5, h6 {
    background-color: blue;
    color: red;
    border-bottom: 5px double red;
    margin-top: 50px;
    clear: both;
    height: 90px;
    line-height: 90px;
    text-align:center;
}

.company-name {
    font-size: 32px;
    float: left;
    color: #f09199;
}

.company{
    color:mediumvioletred;
}

.topmenu a {
    background-color: gray;
    color: white;
    padding: 30px;
    text-decoration: none;
    text-align:center;
    border: 2px solid #696969;
    display: block;
    width: 208px;
    height:20px;
    float:left;
}

.topmenu a:hover {
    background-color: lightgray;
}

.topmenu a:active{
    width:180px;
    height:10px;
}

.copyright {
    font-size: 20px;
    font-family: "Ink Free";
}

.topmenu {
    background-image: url("img/panya.png");
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-size:contain;
    height: 200px;
}


