table {
    border-collapse: collapse;
  }
  
  table,
  th,
  td {
    border: 2.5px dotted cyan;
    padding: 0.5em;
  }
  
  tr:nth-child(odd) {
    background-color: #eee;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
  